.cabecalho-itens{
    background-color: brown;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.lista{
    display: inline-block;
}

.cabecalho-imagem 
{
    width: 10%;
}