.cabecalho-itens{
    background-color: brown;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}
body{
    font-family: "Poppins", sans-serif;
}

.lista{
    display: inline-block;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.bolo-imagem{
    width: 10%;
}
.escola{
    background-image: linear-gradient(#BB925C, #E1C78F);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}