.cabecalho-itens{
    background-color: brown;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}
body{
    font-family: "Poppins", sans-serif;
}

.lista{
    display: inline-block;
}

.cabecalho-imagem{
    width: 10%;
}